@import '../../assets/styles/variables';

sqh-share-button-container {
    display: block;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;

    > div > .hydrated:first-child > div > a {
        margin-left: 0;
    }

    @media (max-width: $screen-sm-max) {
        display: block;
    }
}

.emailShare,
.fbShare,
.twitterShare,
.linkedinShare {

  &.hidden {
    display: none;
  }

  &.mobile-only {
    display: none;

    @media (max-width: $screen-sm-max) {
      display: block;
    }
  }

  &.desktop-only {
    @media (max-width: $screen-sm-max) {
      display: none;
    }
  }
}

.messengerShare {

  &.hidden {
    display: none;
  }

  &.mobile-only {
    display: none;
  }

  &.desktop-only {
    @media (max-width: $screen-sm-max) {
      display: none;
    }
  }

  @media (max-width: $screen-sm-max) {
    display: none;
  }
}

.smsShare,
.whatsappShare {

  &.hidden {
    display: none;
  }

  &.mobile-only {
    display: none;

    @media (max-width: $screen-sm-max) {
      display: block;
    }
  }
}