// NOT BEING USED

// .text-green {
//   color: $green !important;
// }

// .text-yellow {
//   color: $yellow !important;
// }

// .text-gray {
//   color: $gray-light !important;
// }

// .text-black {
//   color: $black !important;
// }