// COPY BUTTON ONLY

// .hidden-xs {
//   @media (max-width: $screen-xs-max) {
//     display: none !important;
//   }
// }

// .hidden-sm {
//   @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
//     display: none !important;
//   }
// }

// .hidden-md {
//   @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
//     display: none !important;
//   }
// }