.fade {
  opacity: 0;
  @include transition(opacity .15s linear);
  &.in {
    opacity: 1;
  }
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.input-group-btn {
  display: table-cell;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}

.input-group-btn:last-child  {
  > .btn,
  > .btn-group {
    margin-left: 0;
  }
}

html.lt-ie9 {
  .input-group {
    width: 100%;

    .form-control {
      width: 100%;
      border-right: 1px solid $input-border;
      border-radius: $border-radius-base;
    }

    .input-group-btn {
      display: none;
    }
  }
}
