sqh-balances-component {
  display: block;
  .the-table {
    border-collapse: collapse;
    border:1px solid black;
    text-align:center;
    width:100%;
  }

  .the-table tr th {
    border:1px solid black;
    padding:3px;
  }
  .the-table tr td {
    border:1px solid black;
    padding:3px;
  }
  p {
    margin: 0;
  }
}