sqh-text-component {
  display: block;
  margin: 0 10px; // cheats the padding for banner background image

  div {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  p {
    margin: 0;
  }
}