sqh-referral-component:nth-child(3) .squatch-referrals-row {
  border-bottom: none;
}

sqh-referral-component {
  .squatch-referrals-row {
    padding-left: 20px;
    display: grid;
    grid-template-columns: 60% 55px auto;
    grid-template-rows: 20px 25px auto 20px;

    border-bottom: 1px solid #ddd;
    min-height: 85px;

    .squatch-referrals-heading {
      grid-column-start: 1;
      grid-row-start: 2;
    }

    .squatch-referrals-description {
      grid-column-start: 1;
      grid-row-start: 3;

      font-size: 15px;
    }

    .squatch-referrals-icon {
      grid-column-start: 2;
      grid-row-start: 2;
      align-self: center;

      font-size: 30px;
      margin-top: 10px;
    }

    .squatch-referrals-value {
      grid-column-start: 3;
      grid-row-start: 2;
      align-self: center;

      margin-top: 10px;
    }

    .squatch-referrals-value-content {
      grid-column-start: 3;
      grid-row-start: 3;

      font-size: 12px;
      margin-top: 5px;
    }
  }
}

sqh-referral-component {
  .squatch-referrals-row {
    @media (max-width: 500px) {
      padding-left: 1px;
    }
  }
}