sqh-share-button {
  display: inline-block;

  .squatch-share-btn {
    display: block;
    text-align: center;
    touch-action: manipulation; // ensures a double tap to zoom doesn't delay click events loading
    cursor: pointer;
    background-image: none; // still needed? Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    width: 140px;
    margin: 5px;
    
    .share-btn-text {
      text-align: center;
      padding-left: 30px;
    }

    &:focus {
      outline: 0; // removes blue border on interactions
    }

    // Normalizing code for active buttons from bootstrap maybe, is this still necessary?

  
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      cursor: not-allowed;
      pointer-events: none; // Future-proof disabling of clicks
      opacity: .65;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
  }

  a {
    position: relative;
    text-decoration: none;
  
    .icon {
      position: absolute;
      left: 10px;
      top: 6px;
      width: 16px;
    }
  
    &:before {
      bottom: -1px;
      background: rgba(255,255,255,0.18);
      content: '';
      left: -1px;
      position: absolute;
      top: -1px;
      width: 40px;
    }
  }
}


// Mobile css will go in CSS in JS (emotion) because break point will be available in editor

sqh-share-button {
  @media (max-width: 499px) {
    display: block;
  }

  .squatch-share-btn {
    @media (max-width: 499px) {
      margin: 5px 0px;
      width: auto;
    }
  }
}