sqh-share-button {
  // display: inline-block;
  flex-basis: auto;



  .btn {
    font-family: 'Lato', sans-serif;
    display: block;
    text-align: center;
    touch-action: manipulation; // ensures a double tap to zoom doesn't delay click events loading
    cursor: pointer;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    white-space: nowrap; // Keeps button text from starting new line
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;

    // NOW HANDLED IN THE CCS IN JS - IS THAT WHERE WE WANT IT TO BE? ARE THE BUTTON COLORS AND TEXT GOING TO BE EDITABLE?
    // &,
    // &:active,
    // &.active {
    //   &:focus,
    //   &.focus {
    //     // @include tab-focus();
    //     // Default
    //     outline: thin dotted;
    //     // WebKit
    //     outline: 50px auto -webkit-focus-ring-color;
    //     outline-offset: -2px;
    //   }
    // }
  
    // &:hover,
    // &:focus,
    // &.focus {
    //   color: white;
    //   text-decoration: none;
    // }
  
    // &:active,
    // &.active {
    //   outline: 0;
    //   background-image: none;
    //   -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    //           box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    // }
  
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      cursor: not-allowed;
      pointer-events: none; // Future-proof disabling of clicks
      opacity: .65;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
  }

  a {
    position: relative;
    text-decoration: none;
  
    .icon {
      position: absolute;
      left: 10px;
      top: 6px;
      width: 16px;
    }
  
    // UNIQUE DEFAULT ICON STYLES (Might be moved to default props for these icons)
  
    // TWITTER
    i.icon-twitter {
      left: 12px;
    }

    // SMS
    i.icon-chat {
      left: 11px;
      top: 9px;
    }
  
    // WHATSAPP
    i.icon-whatsapp {
      font-size: 1.4em;
      left: 12px;
    }
  
    // EMAIL
    i.icon-mail {
      left: 13px;
      top: 7px;
    }
  
      &:before {
        bottom: -1px;
        background: rgba(255,255,255,0.18);
        content: '';
        left: -1px;
        position: absolute;
        top: -1px;
        width: 40px;
      }
  }

  
  .squatch-share-btn {
    width: 120px;
    // margin: 5px;
  
    .share-btn-text {
      text-align: center;
      padding-left: 30px;
    }
  }
}


// Mobile css will go in CSS in JS (emotion) because break point will be available in editor

sqh-share-button {
  @media (max-width: 500px) {
    display: block;
  }

  .squatch-share-btn {
    @media (max-width: 500px) {
      margin: 5px 0px;
      width: auto;
    }
  }
}