@import '../../assets/styles/variables';

sqh-share-button {
    display: inline-block;
  
    @media (max-width: $screen-sm-max) {
      display: block;
    }
  
    a {
      line-height: 32px;
      min-height: 34px;
      padding: 0 0 0 30px;
      position: relative;
      text-decoration: none;
  
      .icon {
        position: absolute;
        left: 10px;
        top: 6px;
        width: 16px;
      }
  
      // UNIQUE DEFAULT ICON STYLES (Might be moved to default props for these icons)
  
      // SMS
      i.icon-chat {
        left: 11px;
        top: 9px;
        }
  
      // WHATSAPP
      i.icon-whatsapp {
        font-size: 1.4em;
      }
  
      // EMAIL
      i.icon-mail {
        left: 13px;
        top: 7px;
      }
  
      &:before {
        bottom: -1px;
        background: rgba(255,255,255,0.18);
        content: '';
        left: -1px;
        position: absolute;
        top: -1px;
        width: 40px;
      }
    }
  }
  
  .squatch-share-btn {
    width: 140px;
    margin: 5px;
  
    .share-btn-text {
      text-align: center;
      padding-left: 30px;
    }
    
    @media (max-width: $screen-sm-max) {
      width: 100%;
      margin: 0px;
    }
  }