@include HostBlock;

.header-title {
  font-size: var(--sl-font-size-large);
  font-weight: var(--sl-font-weight-semibold);
}

.header-description {
  font-size: var(--sl-font-size-medium);
  font-weight: var(--sl-font-weight-normal);
  margin-bottom: var(--sl-spacing-large);
}

.cover-image {
  width: 100%;
  margin-bottom: var(--sl-spacing-large);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  font-size: var(--sl-font-size-small);
  font-weight: var(--sl-font-weight-semibold);
  text-align: left;
}

tr:not(:first-child) {
  border-top: 1px solid var(--sl-color-neutral-200);
}

td {
  font-size: var(--sl-font-size-medium);
  font-weight: var(--sl-font-weight-normal);
}

// tr:nth-child(2) .User:after {
//   margin-left: 12px;
//   content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.75 6.25H15.5634H11.25V20H17.125C17.6773 20 18.125 19.5523 18.125 19V18.75V11.25H18.75H19C19.5523 11.25 20 10.8023 20 10.25V10V7.5V7.25C20 6.69772 19.5523 6.25 19 6.25H18.75Z' fill='%23F2C94C'/%3E%3Cpath d='M1.875 18.75V19C1.875 19.5523 2.32272 20 2.875 20H8.75V6.25H5.80303H1.25H1C0.447715 6.25 0 6.69772 0 7.25V7.5V10V10.25C0 10.8023 0.447715 11.25 1 11.25H1.25H1.875V18.75Z' fill='%23F2C94C'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.875 11.25V12.5H18.125V11.25H1.875Z' fill='%23BE9720'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.5 3.38686C17.5 4.49457 15.8367 6.17183 15 6.25H11.25V20H8.75223V6.25H5.7349C4.01559 5.87728 2.5 4.55672 2.5 3.15091C2.5 1.78092 3.09503 0.695876 4.1773 0.227551C5.21152 -0.219983 6.40565 0.0254159 7.3497 0.680833C8.50845 1.48531 9.15848 2.99538 9.74819 4.36533C9.79995 4.48556 9.85124 4.60472 9.90237 4.72222C9.95216 4.61082 10.0023 4.49741 10.0531 4.3826C10.6374 3.06185 11.3045 1.55407 12.4255 0.744537C13.4165 0.0289298 14.6762 -0.241446 15.7651 0.248681C16.8911 0.755497 17.5 1.91816 17.5 3.38686ZM13.2654 1.875C13.866 1.44131 14.585 1.36265 15.1997 1.875C15.7349 2.32118 15.7635 2.53121 15.8323 3.03657L15.8444 3.125C15.8444 3.87314 15.1997 5 14.5549 5C14.0981 5 13.7393 4.99614 13.403 4.99253C12.7899 4.98594 12.2516 4.98015 11.3312 5C11.5067 4.65982 11.6468 4.33336 11.7804 4.02201C12.1378 3.18929 12.4488 2.4647 13.2654 1.875ZM6.17327 1.875C5.88259 1.67319 5.21601 1.76326 4.93957 1.88288C4.71118 1.98171 4.37003 2.28322 4.37003 3.15091C4.37003 3.99405 5.7349 4.72222 5.7349 4.72222C5.7349 4.72222 6.81801 5 8.75223 5C8.09382 3.36814 7.16113 2.56084 6.17327 1.875Z' fill='%23EB5757'/%3E%3C/svg%3E%0A");
// }

// tr:nth-child(3) .User:after {
//   margin-left: 12px;
//   content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.75 6.25H15.5634H11.25V20H17.125C17.6773 20 18.125 19.5523 18.125 19V18.75V11.25H18.75H19C19.5523 11.25 20 10.8023 20 10.25V10V7.5V7.25C20 6.69772 19.5523 6.25 19 6.25H18.75Z' fill='%23BDBDBD'/%3E%3Cpath d='M1.875 18.75V19C1.875 19.5523 2.32272 20 2.875 20H8.75V6.25H5.80303H1.25H1C0.447715 6.25 0 6.69772 0 7.25V7.5V10V10.25C0 10.8023 0.447715 11.25 1 11.25H1.25H1.875V18.75Z' fill='%23BDBDBD'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.875 11.25V12.5H18.125V11.25H1.875Z' fill='%23A5A3A3'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.5 3.38686C17.5 4.49457 15.8367 6.17183 15 6.25H11.25V20H8.75223V6.25H5.7349C4.01559 5.87728 2.5 4.55672 2.5 3.15091C2.5 1.78092 3.09503 0.695876 4.1773 0.227551C5.21152 -0.219983 6.40565 0.0254159 7.3497 0.680833C8.50845 1.48531 9.15848 2.99538 9.74819 4.36533C9.79995 4.48556 9.85124 4.60472 9.90237 4.72222C9.95216 4.61082 10.0023 4.49741 10.0531 4.3826C10.6374 3.06185 11.3045 1.55407 12.4255 0.744537C13.4165 0.0289298 14.6762 -0.241446 15.7651 0.248681C16.8911 0.755497 17.5 1.91816 17.5 3.38686ZM13.2654 1.875C13.866 1.44131 14.585 1.36265 15.1997 1.875C15.7349 2.32118 15.7635 2.53121 15.8323 3.03657L15.8444 3.125C15.8444 3.87314 15.1997 5 14.5549 5C14.0981 5 13.7393 4.99614 13.403 4.99253C12.7899 4.98594 12.2516 4.98015 11.3312 5C11.5067 4.65982 11.6468 4.33336 11.7804 4.02201C12.1378 3.18929 12.4488 2.4647 13.2654 1.875ZM6.17327 1.875C5.88259 1.67319 5.21601 1.76326 4.93957 1.88288C4.71118 1.98171 4.37003 2.28322 4.37003 3.15091C4.37003 3.99405 5.7349 4.72222 5.7349 4.72222C5.7349 4.72222 6.81801 5 8.75223 5C8.09382 3.36814 7.16113 2.56084 6.17327 1.875Z' fill='%23EB5757'/%3E%3C/svg%3E%0A");
// }

// tr:nth-child(4) .User:after {
//   margin-left: 12px;
//   content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.75 6.25H15.5634H11.25V20H17.125C17.6773 20 18.125 19.5523 18.125 19V18.75V11.25H18.75H19C19.5523 11.25 20 10.8023 20 10.25V10V7.5V7.25C20 6.69772 19.5523 6.25 19 6.25H18.75Z' fill='%23E4AE7F'/%3E%3Cpath d='M1.875 18.75V19C1.875 19.5523 2.32272 20 2.875 20H8.75V6.25H5.80303H1.25H1C0.447715 6.25 0 6.69772 0 7.25V7.5V10V10.25C0 10.8023 0.447715 11.25 1 11.25H1.25H1.875V18.75Z' fill='%23E4AE7F'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.875 11.25V12.5H18.125V11.25H1.875Z' fill='%23A9572D'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.5 3.38686C17.5 4.49457 15.8367 6.17183 15 6.25H11.25V20H8.75223V6.25H5.7349C4.01559 5.87728 2.5 4.55672 2.5 3.15091C2.5 1.78092 3.09503 0.695876 4.1773 0.227551C5.21152 -0.219983 6.40565 0.0254159 7.3497 0.680833C8.50845 1.48531 9.15848 2.99538 9.74819 4.36533C9.79995 4.48556 9.85124 4.60472 9.90237 4.72222C9.95216 4.61082 10.0023 4.49741 10.0531 4.3826C10.6374 3.06185 11.3045 1.55407 12.4255 0.744537C13.4165 0.0289298 14.6762 -0.241446 15.7651 0.248681C16.8911 0.755497 17.5 1.91816 17.5 3.38686ZM13.2654 1.875C13.866 1.44131 14.585 1.36265 15.1997 1.875C15.7349 2.32118 15.7635 2.53121 15.8323 3.03657L15.8444 3.125C15.8444 3.87314 15.1997 5 14.5549 5C14.0981 5 13.7393 4.99614 13.403 4.99253C12.7899 4.98594 12.2516 4.98015 11.3312 5C11.5067 4.65982 11.6468 4.33336 11.7804 4.02201C12.1378 3.18929 12.4488 2.4647 13.2654 1.875ZM6.17327 1.875C5.88259 1.67319 5.21601 1.76326 4.93957 1.88288C4.71118 1.98171 4.37003 2.28322 4.37003 3.15091C4.37003 3.99405 5.7349 4.72222 5.7349 4.72222C5.7349 4.72222 6.81801 5 8.75223 5C8.09382 3.36814 7.16113 2.56084 6.17327 1.875Z' fill='%23EB5757'/%3E%3C/svg%3E%0A");
// }

td,
th {
  color: var(--sl-color-gray-800);
  padding: var(--sl-spacing-medium);
}

th {
  padding: var(--sl-spacing-medium);
  padding-top: 0;
}

.User {
  width: 100%;
}

.Score {
  width: auto;
  white-space: nowrap;
}
