sqh-form-component {
    text-align: center;
  
    .form-input {
        display: block;
        margin: 0.75em auto;
        border-radius: 4px;
        max-width: 220px;
        width:100%;
    }

    .invalid {
      outline-color:red;
      border-color:red;
    }

    .valid {
        outline-color:green;
        border-color:green;
    }

    .failed {
        font-size:12px;
        color:#c70404;
    }

    .success {
      width: 15px;
      vertical-align: middle;
      margin: 4px;
      color:#4BB543;
    }

}