@import '../../assets/styles/variables';
@import '../../assets/styles/base';
@import '../../assets/styles/atomic';

.squatch-stats {
  max-width: 440px;
  margin: 0 auto;
}

.squatch-stats-item {
  display: block;
  float: left;
  text-align: center;
  width: 140px;

  & + & {
    margin-left: $grid-gutter-width;

    @media (max-width: $screen-sm-max) {
      margin-left: 0;
      border-top: 0;
    }
  }

  @media (max-width: $screen-sm-max) {
    width: auto;
    float: none;
    text-align: left;
    padding: $grid-gutter-width;
    background: $gray-lightest;
    border: 1px solid $gray-lighter;

    &:first-child {
      border-radius: $border-radius-base $border-radius-base 0 0;
    }

    &:last-child {
      border-radius: 0 0 $border-radius-base $border-radius-base;
    }
  }
}

.squatch-stats-title {
  font-size: $font-size-h1;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 8px;
  color: $gray-light;
  font-weight: 300;

  @media (max-width: $screen-sm-max) {
    font-size: $font-size-xl;
    float: left;
    width: 60px;
    text-align: center;
    margin: 0 $grid-gutter-width 0 0;
  }
}

.squatch-stats-description {
  text-transform: uppercase;
  font-size: $font-size-xs;
  color: $gray-light;

  @media (max-width: $screen-sm-max) {
    line-height: 20px;
  }
}