sqh-copy-link-button {
  @import '../../assets/styles/mixins/buttons';
  @import '../../assets/styles/mixins/vendor-prefixes';
  @import '../../assets/styles/mixins/tab-focus';

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  font-family: 'Lato', sans-serif;
  display: block;

  .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }

  input {
    color: inherit;
    font: inherit;
    margin: 0;
  }

  #squatch-share-link {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;  
    color: #5b6165;
    background: transparent;
    cursor: text;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    display: table-cell;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  .label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 11px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: #737b80;
  
    // Empty labels collapse automatically (not available in IE8)
    &:empty {
      display: none;
    }
  }

  .fade {
    opacity: 0;
    @include transition(opacity .15s linear);
    &.in {
      opacity: 1;
    }
  }

  #squatch-share-notification {
    position: absolute;
    top: 10px;
    right: 156px;
    z-index: 100;
  
    @media (max-width: 500px) {
      right: 50px;
    }
  }

  .input-group-btn {
    display: table-cell;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
  }

  .btn {
    display: inline-block;
    margin-bottom: 10px; // For input.btn
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: 1px solid transparent;
    white-space: nowrap;
    @include button-size(6px, 12px, 14px, 1.428571429, 4px);  // 1.428571429 = 20/14
    @include user-select(none);

    &,
    &:active,
    &.active {
      &:focus,
      &.focus {
        @include tab-focus();
      }
    }

    &:hover,
    &:focus,
    &.focus {
      color: white;
      text-decoration: none;
    }

    &:active,
    &.active {
      outline: 0;
      background-image: none;
      -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
              box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      cursor: not-allowed;
      pointer-events: none; // Future-proof disabling of clicks
      opacity: .65;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
  }

  .icon-btn {
    color: #fff;
    width: 140px;
    border-left: 0;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    text-align: left;
  
    &:before {
      content: '';
      position: absolute;
      top: -1px;
      left: -1px;
      bottom: -1px;
      background: transparentize(#ffffff, 0.82);
      width: 40px;
    }
  
    .icon {
      width: 42px;
      margin-right: 20px;
    }
  }

  button.icon-btn.copy {
    @include button-variant(white, #5b6165, #5b6165);
    width: 140px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: 0;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    text-align: left;
    min-height: 34px;
  
      @media (max-width: 500px) {
        width: auto;
  
        .icon {
          width: 39px;
          margin-right: 0;
        }
      }
  }

  .hidden-sm {
    @media (min-width: 0px) and (max-width: 500px) {
      display: none !important;
    }
  }
}