sqh-image-component {
  // sets default display type allowing component outline to appear
  display: block;
  position:relative;
  div {
    position: relative;
    display: inline-block;
    width:100%;
  }
    
  img {
    max-width: 100%;
    height: auto;
  }
}