@include HostBlock;

.HeaderWrapper {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: var(--sl-spacing-small) var(--sl-spacing-large);
  align-items: center;

  background-color: var(--sl-color-gray-200);

  @media screen and (max-width: 499px) {
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 0;
  }
}
