name: mint-components merge to main branch
on:
  push:
    branches: [main]
    paths:
      - "packages/mint-components/**"
  workflow_dispatch:

permissions:
  id-token: write
  contents: write
  packages: write
  pull-requests: write
  issues: read

jobs:
  deploy_storybook:
    runs-on: ubuntu-latest
    name: Deploy Storybook to Github Pages
    defaults:
      run:
        working-directory: packages/mint-components
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: Install packages
        run: npm ci

      - name: Build
        run: npm run build

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          # Runs `npm i` after changeset to make sure that `package-lock.json` files are also updated
          # Without this change only `package.json` files are updated, without `package-lock.json` changes.
          version: npm run version
          # Runs changesets on publish - will create tags and deploy to NPM
          publish: npm run publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
