name: Jest Tests

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        package:
          - component-boilerplate

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 15.x
      - run: cd packages/${{ matrix.package }} && npm install
      - run: cd packages/${{ matrix.package }} && npm run build --if-present
      - run: cd packages/${{ matrix.package }} && npm test
