name: Stencilbook

on:
  push:
    branches: [main, master]
  pull_request:

env:
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true

jobs:
  deploy:
    name: Deploy to static site bucket
    runs-on: ubuntu-latest

    strategy:
      matrix:
        package:
          - mint-components

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Node Setup
        uses: actions/setup-node@v2
        with:
          node-version: 14.x

      - name: Install npm dependencies
        run: cd packages/${{ matrix.package }} && npm install

      - name: Build
        run: cd packages/${{ matrix.package }} && NODE_ENV=dev npm run build

      - name: Setup GCP
        uses: GoogleCloudPlatform/github-actions/setup-gcloud@0.1.1
        with:
          version: "270.0.0"
          service_account_email: ${{ secrets.GCP_STATIC_SITE_SERVICE_ACCOUNT_EMAIL }}
          service_account_key: ${{ secrets.GCP_STATIC_SITE_SERVICE_ACCOUNT_KEY_B64 }}

      - name: Deploy to bucket (pull request)
        if: ${{ github.event_name == 'pull_request' }}
        run: gsutil -m rsync -d -r packages/${{ matrix.package }}/dist/ gs://stencilbook_static_saasquatch/${{ matrix.package }}/pr${{ github.event.number }}/

      - name: Deploy to bucket (push)
        if: ${{ github.event_name == 'push' }}
        run: gsutil -m rsync -d -r packages/${{ matrix.package }}/dist/ gs://stencilbook_static_saasquatch/${{ matrix.package }}/production/
