name: visual-dev Storybook

on:
  push:
    branches:
      - master
    paths:
      - packages/visual-dev/**
  pull_request:
    paths:
      - packages/visual-dev/**
  workflow_dispatch:

env:
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true

jobs:
  deploy:
    name: Deploy to static site bucket
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write
      packages: read

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Node Setup
        uses: actions/setup-node@v3
        with:
          node-version-file: "packages/visual-dev/package.json"

      - name: Setup private NPM registries
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          IMPACT_PACKAGE_TOKEN: ${{ secrets.IMPACT_PACKAGE_TOKEN }}
        run: |
          cd packages/visual-dev
          echo "//npm.pkg.github.com/saasquatch:_authToken=$GITHUB_TOKEN" >> ./.npmrc
          echo "//npm.pkg.github.com/impactinc:_authToken=$IMPACT_PACKAGE_TOKEN" >> ./.npmrc
          echo "@saasquatch:registry=https://npm.pkg.github.com/saasquatch" >> ./.npmrc
          echo "@impactinc:registry=https://npm.pkg.github.com/impactinc" >> ./.npmrc

      - name: Install npm dependencies
        run: cd packages/visual-dev && npm ci

      - name: Build
        run: cd packages/visual-dev && npm run storybook:build

      - name: Authenticate with Google Cloud
        id: auth
        uses: google-github-actions/auth@v0
        with:
          token_format: "access_token"
          workload_identity_provider: "projects/167728399658/locations/global/workloadIdentityPools/github/providers/github"
          service_account: "github-static-site-actions@static-site-proxy.iam.gserviceaccount.com"

      - name: Setup GCP
        id: setup_gcp
        uses: google-github-actions/setup-gcloud@v0

      - name: Deploy to bucket (pull request)
        if: ${{ github.event_name == 'pull_request' }}
        run: gsutil -m rsync -d -r packages/visual-dev/.out/ gs://stencilbook_static_saasquatch/visual-dev/pr${{ github.event.number }}/

      - name: Deploy to bucket (push)
        if: ${{ github.event_name == 'push' }}
        run: gsutil -m rsync -d -r packages/visual-dev/.out/ gs://stencilbook_static_saasquatch/visual-dev/production/
