name: Jest Tests

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write
      packages: read

    strategy:
      matrix:
        package:
          - program-boilerplate
          - component-boilerplate
          - stencil-grapes-plugin
          - mint-components
          - integration-boilerplate-node

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 15.x

      # Run each of the test suites
      - name: Setup private NPM registries
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          IMPACT_PACKAGE_TOKEN: ${{ secrets.IMPACT_PACKAGE_TOKEN }}
        run: |
          cd packages/${{ matrix.package }}
          echo "//npm.pkg.github.com/saasquatch:_authToken=$GITHUB_TOKEN" >> ./.npmrc
          echo "//npm.pkg.github.com/impactinc:_authToken=$IMPACT_PACKAGE_TOKEN" >> ./.npmrc
          echo "@saasquatch:registry=https://npm.pkg.github.com/saasquatch" >> ./.npmrc
          echo "@impactinc:registry=https://npm.pkg.github.com/impactinc" >> ./.npmrc

      - run: cd packages/${{ matrix.package }} && npm ci
      - run: cd packages/${{ matrix.package }} && npm run build --if-present
      - run: cd packages/${{ matrix.package }} && npm test
